<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SiteMat8</title>
    <style>
        @font-face {
            font-family: 'Vazir FD UI';
            src: url('vazir-font-master/dist/UI/Farsi-Digits/Vazir-Bold-FD-UI.ttf') format("truetype");
              font-weight: bold;
              font-display:swap;
        }
</style>
</head>
<body>
    <h1>SiteMat8</h1>
    <br>
    <hr>
    <a style="flat:left; margin: 0 20px 0 0; display:block;" href="{% url 'authentication:index' %}"> signup </a></p>
    <a style=" display:block; " href="{% url 'article:postarticle' %}"> postarticle </a>
</body>
</html>