<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SiteMat8{% endblock %}</title>
    <style>
    </style>
</head>
<body>
    <h1><a href="{% url 'article:index' %}">SiteMat8</a></h1>
    {% block content %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user }} to sitemat8!!!</p>
    <p>If you want click here <a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        <a style="flat:left; margin: 0 20px 0 0; display:block;" href="{% url 'authentication:index' %}"> signup </a></p>

    {% endif %}
    {% endblock %}
    <br>
    <hr>

    <a style=" display:block; " href="{% url 'article:postarticle' %}"> postarticle </a>
    <a href="{% url 'File:Upload' %}">requests made website</a>
    {% for message in messages %}
        <li class="{{ message.tags }}">
    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
        </li>
{% endfor %}
</body>
</html>