{% extends "article/base.html" %}

<style>
    body{
    background-color: #e1e1e1;
    }
    div{
    background-color: fff;
    box-shadow: 2px 1px #888888;
    height: auto;
        }
</style>
{% block title %}<title>post_article</title>{% endblock %}

<br>
{% block content %}
{% if search %}
    <h1>posts {{ search }}</h1>
    <h3>
        {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
    </h3>
    {% for post in results %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><hr><br>
    {% comment %}
        {{ # post.body|markdown|truncatewords_html:15 # }}
    {% endcomment %}
        {{ post.body }}
    {% empty %}
        <p>Nothing found</p>
    {% endfor %}
    <p><a href="{% url 'article:post_search' %}">again search</a></p>
    {% else %}
    <div class="form-group">
        <form method="get">
            {{ form.as_p }}
            {% csrf_token %}
            <!--<label for="exampleInputSearch">Search</label>-->
            <!--<input type="submit" value="Search">-->
        </form>
    </div>

<!--<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Search</label>
    <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->
    {% endif %}


{% for post in Post %}
<a href="{% url 'article:post_detail' id=post.id %}">
    <div>
    <h3>{{ post.title }}</h3>
    <p>{{ post.PostBody }}</p>
    </div>
</a>
    <hr>
    <br>
{% endfor %}
{% endblock content %}



