{% extends "article/base.html" %}

<style>
    body{
    background-color: #e1e1e1;
    }
    div{
    background-color: fff;
    box-shadow: 2px 1px #888888;
    height: auto;
        }
</style>
{% block title %}<title>post_article</title>{% endblock %}

<br>
{% block page_header %}

    <div class="form-group">
        <form method="get" action="{% url 'article:search' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary float-right">search</button>
            <br><br>
        </form>
    </div>
{% endblock page_header %}
{% block content %}

{% if search %}
    <h1>posts {{ search }}</h1>
    <h3>
        {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
    </h3>
    {% for post in results %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><hr><br>
    {% comment %}
        {{ # post.body|markdown|truncatewords_html:15 # }}
    {% endcomment %}
        {{ post.body }}
    {% empty %}
        <p>Nothing found</p>
    {% endfor %}
    <p><a href="{% url 'article:postarticle' %}">again search</a></p>
    {% endif %}

<!--<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Search</label>
    <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->


{% for post in Post %}
    <div class="card bg-light" style="width: auto; background_color: #f5f5ef; box-shadow:4px 3px #f2f2f2">
        <img class="card-img-top" src="media/Firefox_wallpaper.png"
             height="auto" width="auto"
             alt="Card image cap">
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        <div class="card-body">
            <p class="card-text">{{ post.PostBody|truncatewords:65 }}</p>
        </div>
    </div>
<br><br>
{% endfor %}
{% endblock content %}